.book-post{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-post-bg{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.808);
}
.book-post-content{
    position: relative;
    max-width: 800px;
    background-color: #eee;
    padding: 50px;
    border-radius: 10px;
}
.book-post-content img{
display: block;
max-width: 100%;
max-height: 950px;
margin: 0 auto;
}
.book-post-content h4,.book-post-content h2{
    color: #a70e0e;
    margin-top: 50px;
}
.book-post-content h2{
    text-align: center;
}